.telephone-directory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 세로 방향으로 아이템 정렬 */
    height: 100vh;
    background: -webkit-linear-gradient(right, #f7a061, #dc2a2a);
    background: linear-gradient(to left, #f7a061, #dc2a2a);
    z-index: 0;
  }
  
  .header-box {
    margin-bottom: 20px; /* telephone-directory 위에 여백 추가 */
    max-width: 500px;
    width: 60%;
    padding: 12px;
    background: #fff;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    border-radius: 30px;
    font-size: 30px;
  }
  
  .wrapper {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  
  .title-text {
    display: flex;
    width: 200%;
  }
  
  .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  .title.login {
    margin-top: 20px;
  }
  
  .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  
  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: -webkit-linear-gradient(right, #f7a061, #dc2a2a);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  
  .slide-controls label.signup {
    color: #000;
  }
  
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #f7a061, #dc2a2a);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  
  input[type="radio"] {
    display: none;
  }
  
  #signup:checked ~ .slider-tab {
    left: 50%;
  }
  
  #signup:checked ~ label.signup {
    color: -webkit-linear-gradient(right, #f7a061, #dc2a2a);
    cursor: default;
    user-select: none;
  }
  
  #signup:checked ~ label.login {
    color: #000;
  }
  
  #login:checked ~ label.signup {
    color: #000;
  }
  
  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }
  
  .form-container {
    width: 100%;
    overflow: hidden;
  }
  
  .form-container .form-inner {
    display: flex;
    width: 200%;
  }
  
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    border-radius: 30px; 
  }
  
  .form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  
  .form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  .field .btn-layer{
  background: -webkit-linear-gradient(left, #f7a061, #dc2a2a);
  }
  
  .form-inner form .field input::placeholder{
      color: #999;
      transition: all 0.3s ease;
    }
    form .field input:focus::placeholder{
      color: #b3b3b3;
    }
    .form-inner form .pass-link{
      margin-top: 5px;
    }